body {
    font-family: 'Inter', sans-serif !important;
    color: rgb(222, 226, 230) !important;
    background-color: rgb(33, 37, 41) !important;
}

#sidebar {
    font-family: 'Inter', sans-serif !important;
    color: rgb(222, 226, 230) !important;
    border-right: 1px solid rgb(73, 80, 87) !important;
}


#linkInput {
    border-color: rgb(73, 80, 87);
    color: rgb(222, 226, 230) !important;

}

#nameInput {
    border-color: rgb(73, 80, 87);
    color: rgb(222, 226, 230) !important;

}

#fileInput {
    border-color: rgb(73, 80, 87);
    color: rgb(73, 80, 87) !important;

}

#expiresAtInput {
    border-color: rgb(73, 80, 87);
    color: rgb(222, 226, 230) !important;

}


#signatoryInput {
    border-color: rgb(73, 80, 87);
    color: rgb(222, 226, 230) !important;

}

#destinationSelect {
    border-color: rgb(73, 80, 87);
    color: rgb(222, 226, 230) !important;

}

#tourOperatorSelect {
    border-color: rgb(73, 80, 87);
    color: rgb(222, 226, 230) !important;

}

#priceInput {
    border-color: rgb(73, 80, 87);
    color: rgb(222, 226, 230) !important;

}

#userNameInput {
    border-color: rgb(73, 80, 87);
    color: rgb(222, 226, 230) !important;

}

#statusSelect {
    border-color: rgb(73, 80, 87);
    color: rgb(222, 226, 230) !important;

}

#passwordInput {
    border-color: rgb(73, 80, 87);
    color: rgb(222, 226, 230) !important;

}

#loginInput {
    border-color: rgb(73, 80, 87);
    color: rgb(222, 226, 230) !important;

}

#authorSelect {
    border-color: rgb(73, 80, 87);
    color: rgb(222, 226, 230) !important;

}

#scoreInput {
    border-color: rgb(73, 80, 87);
    color: rgb(222, 226, 230) !important;

}

#messageInput {
    border-color: rgb(73, 80, 87);
    color: rgb(222, 226, 230) !important;


}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}



#modal-header {
    border-bottom: 1px solid rgb(73, 80, 87) !important;
}

#modal-footer {
    border-top: 1px solid rgb(73, 80, 87) !important;
}



.form-control::placeholder {
    color: rgb(73, 80, 87);
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: rgb(73, 80, 87);
}

.form-control::-ms-input-placeholder {
    color: rgb(73, 80, 87);
}