#navbar
{
    background-image: url(../assets/Bg-img/bg_5-modif.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 170px;
    flex-direction: column;
}

#btns
{
    background-color:#11999E ; 
    outline: none;  
    
}

.offers-section
{
    background-color:#E4F9F5 ;
}

.container
{
    padding-left: 0px;
    padding-right: 0;
}

